#app{
  /* background-position: center; */
  /* background-image: url('@/assets/images/bg2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; */
  /* width: 100vw; */
  background: #fff;

}

.drawer-icon{
 .v-icon{
    font-size: 30px !important;
  }
}
.larg-nav , .small-nav .app-bar , .footer-card {
  background-color: rgb(134 174 217) !important;
}
@font-face {
  font-family: 'cairo';
  src: url(../fonts/cairo-font/Cairo-Regular.ttf);
  font-weight: normal;
}
